header {

	font-size: 1.0rem;
	background: linear-gradient(135deg, #FF4F50 0%, #FFCC33 100%);
	color: #fff;
	padding: 12px 18px;
	border-radius: 4px;
	margin-bottom: 50px;
}

h1 {
	color: white;
	display: flex;
	justify-content: flex-start;
}

p {
	font-size: 2.0rem;
	color: 		#FF4F02;
	display: flex;
	justify-content: center;
	/* 水平方向の中央寄せ */
	align-items: center;
	/* 垂直方向の中央寄せ */
	height: 30px;
}

body {
	background-color: #FFFFEE;
	text-align: center;
}

.login-container {
	background-color: #fff;
	padding: 40px;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.character {
	width: 150px;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 15px;
}

input {
	margin: 2px;
	width: 50%;
	padding: 10px 15px;
	border: 3px solid #FFCCCC;
	border-radius: 25px;
	font-size: 16px;
	margin-bottom: 3px;
}

input::placeholder {
	color: #FF9966;
}

input:focus {
	outline: none;
	border-color: #FF9966;
	box-shadow: 0 0 5px #FF9966(255, 192, 203, 0.5);
}

.login-button {
	width: 13%;
	margin: auto;
	padding: 5px 20px;
	background-color: #669900;
	border: none;
	border-radius: 25px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-top: 60px;
}

.new-button {

	width: 13%;
	margin: 2px;
	padding: 5px 20px;
	background-color: #ff8a00;
	border: none;
	border-radius: 25px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-top: 10px;
}

.login-button:hover {
	background-color: #66CC66;
}

.new-button:hover {
	background-color: #ffa64d;
}