.memo {
	white-space: pre-wrap;
}

header {

	font-size: 1.0rem;
	background: linear-gradient(135deg, #FF4F50 0%, #FFCC33 100%);
	color: #fff;
	padding: 12px 18px;
	border-radius: 4px;
	margin-bottom: 20px;


}

h1 {
	color: white;
	display: flex;
	justify-content: flex-start;
	/*	height: 60px;*/
}

body {
	background-color: #FFFFEE;

}

.login-container {
	background-color: #fff;
	padding: 40px;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.character {
	width: 150px;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 15px;
}

input {
	margin: 2px;
	width: 50%;
	padding: 10px 15px;
	border: 3px solid #FFCCCC;
	border-radius: 25px;
	font-size: 16px;
}

input::placeholder {
	color: #99CC66;
}

input:focus {
	outline: none;
	border-color: #FF9966;
	box-shadow: 0 0 5px #99CC66(255, 192, 203, 0.5);
}

.search-button {


	background-color: #ff8a00;
	padding: 5px 20px;
	border: none;
	border-radius: 25px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.edit-button {
	width: 100%;
	margin: auto;
	padding: 5px 20px;
	background-color: #4a90e2;
	border: none;
	border-radius: 25px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.delete-button {
	width: 100%;
	margin: auto;
	padding: 5px 20px;
	background-color: #FF3333;
	border: none;
	border-radius: 25px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
}



.add-button {

	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 5px 20px;
	background-color: #ff8a00;
	border: none;
	border-radius: 25px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
	height: 50px;
}

p {
	margin-left: auto;
	margin-right: 98px;
	width: fit-content;
}

.edit-button:hover {
	background-color: #66CCFF;
	text-align: center;
}

.delete-button:hover {
	background-color: #FF82B2;
	text-align: center;
}

.add-button:hover {
	background-color: #ffa64d;
	text-align: center;
}

.search-button:hover {
	background-color: #ffa64d;
	text-align: center;
}

.andcenter {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: 30px;
}

.andright {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.link {
	margin-left: 20px;
}


table {
	/*	display: flex;*/
	margin: 0 auto;
	justify-content: center;
	width: 90%;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
	background: #ffffff;
}

table tr:nth-child(2n+1) {
	background: #fff8ed;
}

table th {
	padding: 10px;
	border: solid 1px #f0d9b5;
	background: #FFe8c2;
	color: #333333;
}

table td {
	padding: 10px;
	border: solid 1px #f0d9b5;
}
footer{
	margin-left: auto;
	margin-right: 0;
	width: 400px;
}

