.memo{
	white-space: pre-wrap;
}

header {

	font-size: 1.6rem;
	background: linear-gradient(135deg, #99CC00 0%, #99CC99 100%);
	color: #fff;
	padding: 12px 18px;
	border-radius: 4px;
	margin-bottom: 20px;
}

h1 {
	color: #006600;
	display: flex;
	justify-content: center;
	/* 水平方向の中央寄せ */
	align-items: center;
	/* 垂直方向の中央寄せ */
	height: 100px;
}

body {
	background-color: #F3FFD8;
}

.login-container {
	background-color: #fff;
	padding: 40px;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.character {
	width: 150px;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 15px;
}

input {
	margin: 2px;
	width: 50%;
	padding: 10px 15px;
	border: 2px solid #99CC66;
	border-radius: 25px;
	font-size: 16px;
}

input::placeholder {
	color: #99CC66;
}

input:focus {
	outline: none;
	border-color: #669900;
	box-shadow: 0 0 5px #99CC66(255, 192, 203, 0.5);
}

button {
	
	width: 50%;
	margin: 2px;
	padding: 5px 20px;
	background-color:#669900;
	border: none;
	border-radius: 25px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #006600;
}
table{
	table{
	  border-collapse:separate;
	  border-spacing: 5px;
	  width: 100%;
	}

	table th,table td{
	  border-radius: 5px;
	  text-align: center;
	  padding: 10px 0;
	}

	table th{
	  background-color: #c79852;
	  color: white;
	  border:solid 1px #927141;
	}

	table td{
	  background-color: #e4d4bc;
	  border:solid 1px #af9d85;
	}
}