<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>食事内容詳細</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header>
		<h1>食事内容詳細</h1>
	</header>
	<main>
		<form action="/dishes/add" method="post">
			<input type="hidden" name="stapleFood" th:value="${stapleFood}">
			<input type="hidden" name="sideDish" th:value="${sideDish}">
			<input type="hidden" name="mainDish" th:value="${mainDish}">
			<input type="hidden" name="milkDish" th:value="${milkDish}">
			<input type="hidden" name="fruitCount" th:value="${fruitCount}">
		<textarea name="detailMemo"placeholder="詳細"></textarea>
		
			<br><button>登録</button>
		</form>
	</main>
</body>

</html>
